In [78]:
import pandas as pd

billboard = pd.read_csv('billboard-df.csv')
playback = pd.read_csv('playbackfm-1920-2016.csv')
gdp = pd.read_csv('GDPC1.csv')

In [79]:
billboard.shape

(182280, 8)

In [80]:
playback.shape

(8594, 4)

In [81]:
billboard['date'] = pd.to_datetime(billboard['date'], format='%Y-%m')
playback['year'] = pd.to_datetime(playback['year'], format='%Y')
gdp['DATE'] = pd.to_datetime(gdp['DATE'], format='%Y-%m')

In [82]:
billboard['date'] = pd.PeriodIndex(billboard['date'], freq='Q')
playback['year'] = pd.PeriodIndex(playback['year'], freq='Q')
gdp['DATE'] = pd.PeriodIndex(gdp['DATE'], freq='Q')

In [83]:
playback.rename(columns={"track name":"track_title", "track artist":"track_artist","track rank":"track_rank", "year":"date"}, inplace=True)
gdp.rename(columns={"DATE":"date"}, inplace=True)

In [84]:
result = billboard.append(playback, ignore_index=True, sort=True)
result

C:\Users\java\AppData\Local\Temp\ipykernel_17276\2151318419.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = billboard.append(playback, ignore_index=True, sort=True)

,date,track_artist,track_lp,track_new,track_pp,track_rank,track_title,track_weeks
0,1960Q1,Marty Robbins,2.0,False,1.0,1,El Paso,9.0
1,1960Q1,Frankie Avalon,1.0,False,1.0,2,Why,7.0
2,1960Q1,Miss Toni Fisher,3.0,False,3.0,3,The Big Hurt,8.0
3,1960Q1,Johnny Preston,11.0,False,4.0,4,Running Bear,12.0
4,1960Q1,Freddie Cannon,5.0,False,5.0,5,Way Down Yonder In New Orleans,7.0
...,...,...,...,...,...,...,...,...
190869,2016Q1,J Balvin,NaN,NaN,NaN,96,Ginza,NaN
190870,2016Q1,Hozier,NaN,NaN,NaN,97,Take Me To Church,NaN
190871,2016Q1,Joey Montana,NaN,NaN,NaN,98,Picky,NaN
190872,2016Q1,Yo Gotti,NaN,NaN,NaN,99,Down In the DM,NaN
190873,2016Q1,Nelly,NaN,NaN,NaN,100,The Fix,NaN

In [85]:
df = pd.merge(left=result, left_on='date', right=gdp, right_on='date', how='left')

In [86]:
df

,date,track_artist,track_lp,track_new,track_pp,track_rank,track_title,track_weeks,GDPC1
0,1960Q1,Marty Robbins,2.0,False,1.0,1,El Paso,9.0,3277.847
1,1960Q1,Frankie Avalon,1.0,False,1.0,2,Why,7.0,3277.847
2,1960Q1,Miss Toni Fisher,3.0,False,3.0,3,The Big Hurt,8.0,3277.847
3,1960Q1,Johnny Preston,11.0,False,4.0,4,Running Bear,12.0,3277.847
4,1960Q1,Freddie Cannon,5.0,False,5.0,5,Way Down Yonder In New Orleans,7.0,3277.847
...,...,...,...,...,...,...,...,...,...
190869,2016Q1,J Balvin,NaN,NaN,NaN,96,Ginza,NaN,17565.465
190870,2016Q1,Hozier,NaN,NaN,NaN,97,Take Me To Church,NaN,17565.465
190871,2016Q1,Joey Montana,NaN,NaN,NaN,98,Picky,NaN,17565.465
190872,2016Q1,Yo Gotti,NaN,NaN,NaN,99,Down In the DM,NaN,17565.465
190873,2016Q1,Nelly,NaN,NaN,NaN,100,The Fix,NaN,17565.465

In [87]:
df.to_csv('merge-billboard-gdp-df.csv', index=False)

In [67]:
df['GDPC1'].isna().value_counts()

False    189216
True       1658
Name: GDPC1, dtype: int64